// Define your custom typography/classes here.
// -----------------------------------------------------------------------------

body {
  font-family: $font-sans;
  font-weight: 400;
  background-color: $lcyc-soft-bg;
  color: $lcyc-text-main;
}

h1, h2, h3, h4, .site-title {
  font-family: $font-serif;
}

h1, h2, h3, h4 {
    color: $lcyc-navy;
    font-weight: 600; 
}

.site-title {
    font-weight: 700;
}
    
