/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */
/* Make logo and name display inline (horizontal) */
/* Make the header region full-width */

.pr-header {
    justify-content: left;
    background-color: #242e65;
}

.site-branding__name-link {
    font-size: 2.5rem;    
}

/* Force site slogan onto its own line below the site name */
.site-branding__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-family: Spectral;
}

.site-branding__name-link:link, .site-branding__name-link:visited, .site-branding__slogan {
    color: #ffffff;
}
/* Optional: add a little spacing between name and slogan */
.site-branding__slogan {
    margin-top: 0.35em;        /* adjust to your taste */
    font-size: 1.25em;         /* optional: make slogan slightly smaller */
}

h1 {
    font-family: "PT Sans";
    font-size: 1.5em;
    color: rgb(34,34,34);
}

h2 {
    font-family: "PT Sans";
    font-size: 1.5em;
    color: rgb(34,34,34);
}

.node__container h2 a:visited {
    color: rgb(0,52,127);
}

p {
    font-family: "PT Sans";
    font-size: 1em;
    color: rgb(34,34,34);
}
